{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}
{% block maincontent %}

    <div class="container my-5">
        <div class="row">
            <h2><b  style="  color: rgb(120, 160, 160);font-family:Cursive;"> Welcome <span class="text-capitalize">{{ request.user.username }}</span></b></h2>  
                <div class="col-sm-2 border-end">
                    
                </div>
                <div class="col-sm-9 offset-sm-1 text-center">
                    <h3>Password Change Successfully</h3>
                    <div> <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe></div>
                
                    
                </div>
        </div>

    </div>

{% endblock maincontent %}